# fly.toml app configuration file generated for imobiliaria-backend on 2025-12-08T13:13:55-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'imobiliaria-backend'
primary_region = 'gru'

[build]

[env]
  SERVER_PORT = '8080'
  SPRING_PROFILES_ACTIVE = 'prod'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[[mounts]]
  source = 'uploads_data'
  destination = '/app/uploads'
